<!DOCTYPE html>
<html>
  <head>
    <title>Chartalize</title>
    <%= csrf_meta_tags %>
    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab|Merriweather|Open+Sans|Lato" rel="stylesheet">
    <link href="https://icons8.com">
    <link href="http://res.cloudinary.com/travelingpiano/image/upload/v1501094835/favicon_iyfnip.ico" rel="shortcut icon" type="image/x-icon" />
    <link rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= javascript_include_tag('jscolor.js') %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
